POSTGRES_HOST=localhost
POSTGRES_PORT=5432
POSTGRES_DB=ticketdb
POSTGRES_USER=postgres
POSTGRES_PASSWORD=your_password_here

JWT_SECRET_KEY=generate_with_python_secrets_token_hex

INTERNAL_API_KEY=shared_secret_between_services

GROQ_API_KEY=your_groq_api_key_here

DOC_SERVICE_URL=http://localhost:8001